<html>
<body>
    <h1>Users</h1>    
    <div>
        {{#each users}}
        <p>Username: {{username}}</p>
        <p>Email: {{email}}</p>
        {{/each}}
    </div>
</body>
</html>


<html>
    <h3>Add new user</h3>
    <div>
        <form action="/api/user" method="POST">
            <input placeholder="username" name="create_username">
            <input placeholder="email" name="create_email">
            <button>Add</button>
        </form>
    </div>
</html>

<html>
    <h3>Delete user</h3>
    <div>
        <form action="/api/user/" method="DELETE">
            <input placeholder="UserId" name="userId">
            <button>delete</button>
        </form>
    </div>
</html>

<html>
        <h3>Update user</h3>
    <div>
        <form>
            <input placeholder="userId" name="id">
            <input placeholder="username" name='newUsername'>
            <input placeholder="email" name='newEmail'>
            <button>Update</button>
        </form>
    </div>
</html>

